body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
  line-height: 1.5;
}

/* Top Half and Navbar Section*/

#top-half {
  background-color: #00bcd4;
  font-family: 'Ubuntu';
}

.yabba  {
  font-size: 2.55rem;
}

.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  color: white;
}

.discover-title {
  padding: 12% 0;
  margin: 4rem 0;
}

.btns  {
  margin: 5% 3% 5% 0;
}

.affection {
  transform: rotate(15deg);
  width: 83%;

}

/* Key to Happiness Section*/

.keys {
  padding: 10% 7%;
  color: #8f8f8f;

}

.keys-heading  {
  color: black;
  font-size: 2.5rem;
}

.pleasure, .passion, .purpose  {
  width: 75%;
  padding: 15px 20px;
}

@media (max width: 700px)  {
  .pleasure .passion .purpose  {
    width: 15%;
    position: static
  }
}

/* Quotes Section*/

.quote-carousel  {
  height: 200px;
}

.quotes  {
  padding: 19%;
  height: 200px;
  font-weight: 200;
  color: #fff;
}

.names  {
  color: black;
  letter-spacing: 2em;
}

/*footer*/

.foot {
  background-color: #fd3a69;
  margin-bottom: 0;
  padding-bottom: 15px;
  position: relative;
  color: #fecd1a;
  text-align: center;
  font-size: 10px;
}
