body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Top Half and Navbar Section*/

#top-half {
  background-color: #00bcd4;
  font-family: 'Ubuntu';

}

.yabba  {
  font-size: 2.55rem;

}

.navbar {
  margin-bottom: 4.5rem;
}


.top-row {
  padding: 10% 0;
  margin-bottom: 15px;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  color: white;
}

.btns  {
  margin: 5% 3% 5% 0;
}


.affection {
  transform: rotate(15deg);
  width: 83%;

}

/* Key to Happiness Section*/

.keys  {
  padding: 10% 7%;
  text-align: center;
}

.pleasure  {
  width: 75%;
  padding-bottom: 15px;
}

.passion  {
  width: 75%;
  padding-bottom: 15px;
}

.purpose {
  width: 75%;
  padding-bottom: 15px;
}


h3 {
  font-family: 'Montserrat-Bold';
}

p {
  color: #8f8f8f;
}

/* Quotes Section*/

.quote-carousel  {
  height: 200px;
}

.quotes  {
  text-align: center;
  padding: 19%;
}

h4 {
  font-weight: 200;
  color: #fff;
}

.foot {
  background-color: #fd3a69;
  margin-bottom: 0;
  padding-bottom: 15px;
  position: relative;
  color: #fecd1a;
  text-align: center;
  font-size: 10px;
}
